.header-splash: .splash

header.section.section-header.section-header-landing: .wrapper
    top-navbar
    br
    br
    br
    br
.popups: .popup.popup-auth: .wrapper
    .popup-title 
        | Activeren voor inwoner
    .popup-subtitle 
        | Dit scherm is alleen bedoeld voor geautoriseerde medewerkers die 
        | een code activeren voor een inwoner die zelf geen email adres heeft. 
    .wrapper.wrapper-2-3: form.form
        //- .form-group
            .form-label {{ "popup_auth.input.mail" | translate }}
            input(
                type="email" 
                ng-model="signUpForm.values.records.primary_email" 
                placeholder="{{ 'popup_auth.input.mailing' | translate }}").form-control.form-control
            .form-error(ng-repeat="error in signUpForm.errors['records.primary_email']" ng-bind="error")
        //- .form-group
            .form-label {{ "popup_auth.input.confirmation" | translate }}
            input(
                type="email" 
                ng-model="signUpForm.values.records.primary_email_confirmation" 
                placeholder="{{ 'popup_auth.input.mailing' | translate }}").form-control.form-control
            .form-error(ng-repeat="error in signUpForm.errors['records.primary_email_confirmation']" ng-bind="error")
        //- .form-group
            .form-label Pin code
            input(ng-model="signUpForm.values.pin_code" type="text" placeholder="Pin Code").form-control
            .form-error(ng-repeat="error in signUpForm.errors.pin_code" ng-bind="error")
        .form-group
            .form-label.active {{ "popup_auth.input.coding" | translate }}
            input(ng-model="signUpForm.values.code" type="text" placeholder="{{ 'popup_auth.input.code' | translate}}").form-control
            .form-error(ng-repeat="error in signUpForm.errors.code" ng-bind="error")
        .form-group
        .form-group: a(ui-sref="voucher").button.button-primary.button-wide {{ "popup_auth.buttons.submit" | translate }}
    .popup-footer
        .footer-text.text-center 
            | Let op: herstel in geval van verlies is niet mogelijk. 
            | Kan de inwoner een vertrouwd email adres kan gebruiken? 
            | Koppel de code dan aan het email adres via dit formulier.
        //- .popup-footer-links
            a(href="#").popup-footer-link 
                span »
                | LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT
            a(href="#").popup-footer-link
                span »
                | EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA
            a(href="#").popup-footer-link
                span »
                | LABORIS NISI UT ALIQUIP EX EA COMMODO CONSEQUAT.
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br